body {
  margin: 0;
  font-family: 'Arial', sans-serif;
background-color: #FFF3E9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  color: #216933;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar li {
  cursor: pointer;
  color: #228B22; /* Forest green */
  font-weight: 500;
}

.navbar li:hover {
  text-decoration: underline;
}

